.main_div{
    width: 70%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  
  margin:auto;
    margin-bottom:15px;
}
.img_container{
 

    margin-right:5%;
      padding: 30px;
      gap: 30px;
}
.img_container>div{
    width: 100%;
}
.img_container>div>img{
    width: 90%;
    height: 80%;
}
.detailsDiv_right{
    width: 80%;
}
.ratingDiv{
    display: flex;
    border: 0.3px solid lightgray;
    width:200px;
    height:40px;
    padding:15px;
    margin-bottom: 15px;
    font-size:16px;
    gap:10px;
}
.ratingDiv:hover{
    border: 1px solid
}
.addTobag_div{
    width: 200px;
    display: flex;
    height:50px;
    border-radius: 4px;
    background-color: #9039e7;
    color: white;
    justify-content: center;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}
@media all and (min-width: 400px) and (max-width: 600px) {

.main_div{
    width: 100%;
}
.img_container{
    width: 100%;
}
}
@media all and (min-width: 600px) and (max-width: 850px) {

    .main_div{
        width: 90%;
    }
    .img_container{
        width: 100%;
    }
    }
@media all and (min-width: 0px) and (max-width: 399px) {

    .main_div{
        grid-template-columns:repeat(1, 1fr) ;
    }
}