.main_container{
    display: flex;
    }
    .left_filter_box{
    
        width: 20%;
    }
    .right_product_box{
    width: 90%;
        display:grid ;
        grid-template-columns: repeat(5,1fr);
        gap: 4rem;
    }