.main_container{
    display: flex;
    }
    .left_filter_box{
    
        width: 20%;
    }
    .right_product_box{
    width: 70%;
        display:grid ;
        grid-template-columns: repeat(4,1fr);
        gap: 1rem;
    }
    .right_product_box>div{height: 50vh;}