.home_main {
  display: flex;
  margin: auto;
  padding: 1%;
  margin-top: 5vh;
}
.home_left_bar {
  height: 40vh;
  width: 14%;
  position: fixed;
  background-color: white;
  border: 1px solid;
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
}

.type_of_product {
  font-size: 24px;
  width: 70%;
  margin: auto;

  margin-top: 3vh;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 1.3rem;
  color: aliceblue;

  background-image: url(../../images/bark.png);
}

.home_right_main {
  width: 78%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  align-items: center;
}
.home_heading_box {
  width: 40vw;
  height: 5vh;
  font-size: 1.3rem;
  margin: auto;
  border-radius: 2.1rem;
  /* background-image: url(../../images/bark.png); */
  margin-bottom: 1%;
  margin-top: 2%;

  font-style: initial;
  color: #103044;
  font-weight: 400;
  padding: 2px 3px 5px 5px;
}
.home_heading_box > h2 {
  font-weight: 700;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 1vh;
}

.home_right_slider {
  border: 2px solid black;
  background-image: url(../../images/slide_1.jpg);
  width: 80%;
  max-width: 1200px; /* limit maximum width of box */
  height: 65vh;
  border-radius: 1.2rem;
  margin: 0 auto; /* center box horizontally */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-size: 100% 100%;
  animation: changeImage 20s 2s alternate infinite;
}

@keyframes changeImage {
  0% {
    background-image: url(../../images/slide_1.jpg);
  }
  25% {
    background-image: url(../../images/slide_2.jpg);
  }
  50% {
    background-image: url(../../images/slide_3.jpg);
  }
  75% {
    background-image: url(../../images/slide_4.jpg);
  }
  100% {
    background-image: url(../../images/slide_5.png);
  }
}

.Eco_cat_head {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-items: flex-start;
  font-size: 1.3rem;
  color: #1e455e;
}
.Eco_kitchen_box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

/* <---for the slider only---> */
/* define styles for small screens */
.home_right_slider {
  border: 2px solid black;
  background-image: url(../../images/slide_1.jpg);
  width: 80%;
  max-width: 1200px;
  border-radius: 1.2rem;
  margin: 0 auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-size: 100% 100%;
  animation: changeImage 20s 2s alternate infinite;
  aspect-ratio: 16/9; /* set the aspect ratio to 16:9 */
}

/* define styles for small screens */
@media (max-width: 576px) {
  .home_right_slider {
    width: 90%;
    height: auto; /* set the aspect ratio to 4:3 */
  }
}

/* define styles for medium screens */
@media (min-width: 576px) and (max-width: 768px) {
  .home_right_slider {
    width: 70%;
    height: auto;
  }
}

/* define styles for large screens */
@media (min-width: 768px) {
  .home_right_slider {
    width: 60%;
    height: auto; /* set the aspect ratio to 21:9 */
  }
}
/* <-----> */

@media all and (min-width: 769px) and (max-width: 1300px) {
  .Eco_kitchen_box {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .Eco_kitchen_box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .Eco_kitchen_box {
    grid-template-columns: repeat(2, 1fr);
    padding: 5px;
  }
}
@media (max-width: 280px) {
  .Eco_kitchen_box {
    grid-template-columns: repeat(1, 1fr);
    padding: 1px;


  }
  .Eco_kitchen_box>div {
  
padding: 10px;

  }
}
.home_left_bar > div {
  height: 14%;
}

@media all and (min-width: 1031px) and (max-width: 1300px) {
  .home_left_bar {
    height: 35vh;
  }

  .Eco_kitchen {
    margin-right: 85%;
  }
  .home_heading_slogan {
    font-size: 18px;
  }
  .type_of_product {
    font-size: 17px;
  }
}

@media all and (min-width: 701px) and (max-width: 1030px) {
  .Eco_kitchen {
    margin-right: 85%;
  }
  .home_heading_box {
    height: 5vh;
    font-size: 17px;
  }

  .home_left_bar {
    width: 20%;
  }
  .home_right_main {
    width: 76%;
    margin-left: 26%;
  }

  .type_of_product {
    font-size: 22px;
  }
}
/* 
hi */
@media all and (min-width: 500px) and (max-width: 600px) {
  .typebox_small {
    display: flex;
    width: 105%;
    height: 60px;

    padding-left: 8%;
    padding-right: 8%;

    display: flex;
    font-size: 16px;
    position: fixed;
    background-color: aqua;
    justify-content: space-between;
    background-image: url(../../images/bark.png);
    align-items: center;
  }
  .type_of_product_small {
    cursor: pointer;

    font-size: 1.2rem;
    align-items: center;
  }
}
@media all and (min-width: 400px) and (max-width: 499px) {
  .typebox_small {
    display: flex;
    width: 105%;
    height: 60px;
    margin-left: -18%;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 81vh;
    display: flex;
    font-size: 16px;
    position: fixed;
    background-color: aqua;
    justify-content: space-between;
    background-image: url(../../images/bark.png);
    align-items: center;
  }
  .type_of_product_small {
    cursor: pointer;

    font-size: 1.2rem;
    align-items: center;
  }
}
@media all and (min-width: 400px) and (max-width: 701px) {
  .type_of_product_small:hover {
    cursor: pointer;
  }
  .home_heading_slogan {
    font-size: 70%;
  }

  .Eco_kitchen {
    margin-left: 2%;
  }
  .home_heading_box {
    width: 65%;
    margin-bottom: 3%;
    font-size: 17px;
    height: 3vh;
  }

  .home_left_bar {
    width: 20%;
  }
  .type_of_product {
    font-size: 20px;
  }
}
@media all and (min-width: 601px) and (max-width: 767px) {
  .home_right_main {
    width: 100%;
    margin-left: 0%;
    padding: 20px;
  }
}

@media all and (min-width: 220px) and (max-width: 399px) {
  .typebox_small {
    display: flex;
    width: 105%;
    height: 60px;
  }
  .type_of_product_small {
    cursor: pointer;
    margin-right: 7%;
    font-size: 0.8rem;
    align-items: center;
  }
  .type_of_product_small:hover {
    cursor: pointer;
  }

  .home_heading_slogan {
    font-size: 60%;
  }
 
  .home_heading_box {
    width: 65%;
    margin-bottom: 3%;
    font-size: 13px;
    height: 3vh;
  }

  .home_right_main {
    width: 100%;
    margin-left: 0%;
  }

  .home_left_bar {
    display: none;
    width: 0%;
    height: 0vh;
    background-color: rgb(240, 255, 244);
  }

  .type_of_product {
    width: 100%;
    font-size: 15px;
  }


}
@media all and (min-width: 400px) and (max-width: 600px) {
  .home_left_bar {
    display: none;
  }

  .type_of_product {
    margin-right: 5%;
  }
  .home_right_main {
    width: 95%;
    padding: 12px;
    margin-left: 0%;
  }
  .home_heading_box {
    width: 65%;
    margin-bottom: 3%;
    font-size: 13px;
    height: 3vh;
  }
}
@media all and (min-width: 0px) and (max-width: 220px) {
  .typebox_small {
    display: flex;
    width: 105%;
    height: 16vh;
    margin-left: -18%;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 80vh;
    display: flex;
    font-size: 10px;
    position: fixed;
    background-color: aqua;
    justify-content: space-between;
  }
  .typebox_small > div:hover {
    cursor: pointer;
  }
  .home_heading_slogan {
    font-size: 35%;
    padding: 2%;
  }
  .Eco_kitchen {
    margin-right: 61%;
    font-size: 70%;
  }


  .home_right_main {
    width: 100%;
    margin-left: 0%;
  }
  .home_heading_box {
    width: 55%;
    margin-bottom: 3%;
    font-size: 11px;
    height: 3vh;
  }
  .home_left_bar {
    display: none;
    width: 0%;
    height: 0vh;
    background-color: rgb(240, 255, 244);
  }

  .type_of_product {
    width: 100%;
  }


}
@media all and (min-width: 280px) and (max-width: 400px) {
  .home_heading_box {
    font-size: 0.6rem;
  }
}
